development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "31029fc98fd735c0add68743d14e634f5ed7a0fac22e52328ba1a41108cecdeb"
  signature_expiration: 3600 # one hour
