// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question { display: none; }
.stats span { font-size: 12px; }
.page-header { margin-top: 0px; }
.Question-comments { padding-top: 5%; }
// VOTES AND RATING

.votes .fa { font-size: 20px; }
.remove-vote button { padding: 4px 9px; font-size: 19px; }
.remove-vote i { font-size: 20px; color: #7b7b7b; }
.votes .btn-default { margin-top: 14px; }

.question-title { padding-bottom: 5px; margin-top: -10px; &h3 { padding-top: 0px;}  }
