// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question { display: none; }
.stats span { font-size: 12px; }
.rating { margin-right: 15px; }
.mini-counts { margin-left: 5px; } 
.answers-count { margin-left: 5px; }
