// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-field { text-indent: 0px; }
.search-button { padding-left: 5px; }
.search-button-inner { padding: 6px 17px; }
