- if current_user && current_user.id != votable.user_id
  ul.inline.vote-buttons
    li
      = button_to polymorphic_path(votable, action: :vote_up), 
                                              id: "vote_up-#{votable.class.name.underscore}#{votable.id}",
                                              disabled: votable.voted_by?(current_user),
                                              method: :post, class: "btn btn-default",
                                              remote: true, data: {type: :json} do
        i.fa.fa-thumbs-o-up

    li.remove-vote
      = button_to polymorphic_path(votable, action: :remove_vote), 
                                              id: "remove_vote-#{votable.class.name.underscore}#{votable.id}",
                                              disabled: !votable.voted_by?(current_user),
                                              method: :delete, class: "btn btn-default",
                                              remote: true, data: {type: :json} do
        i.fa.fa-undo
                                                       
    li
      = button_to polymorphic_path(votable, action: :vote_down), 
                                              id: "vote_down-#{votable.class.name.underscore}#{votable.id}",
                                              disabled: votable.voted_by?(current_user),
                                              method: :post, class: "btn btn-default",
                                              remote: true, data: {type: :json} do
        i.fa.fa-thumbs-o-down                 
